@using Project.Web.Code;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<h2 style="color:black">Purchasing Page Will be Updated...</h2>
<input type="hidden" value="@Repo.Session.CompanyId" id="inputCompanyId">
<div id="divPurchasing"></div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />



<div class="modal fade" id="invoiceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   
    <div class="modal-dialog ">
        
        <div class="modal-content">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="container">
                        <div class="invoice-title">
                            <div class="mb-4">
                                <h2 class="mb-1 text-muted">Invoice Details</h2>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="text-muted">
                                        <h5 class="font-size-16 mb-3 text-dark">Requester :</h5>
                                        <h5 class="font-size-16 mb-3 text-dark">Requester Name :</h5>
                                        <h5 class="font-size-15 mb-2 " id="RequesterName"></h5>
                                        <h5 class="font-size-16 mb-3 text-dark">Requester Department :</h5>
                                        <p class="mb-1" id="RequesterDep"><i class="uil uil-envelope-alt me-1"></i></p>
                                        <h5 class="font-size-16 mb-3 text-dark">Request Name :</h5>
                                        <p id="RequestName"><i class="mb-1"></i></p>
                                        <h5 class="font-size-16 mb-3 text-dark">Request Description :</h5>
                                        <p id="RequestDescription"><i class="mb-1"></i></p>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-sm-6">
                                    <div class="text-muted text-sm-end">
                                        <div>
                                            <h5 class="font-size-15 mb-1 text-dark">Request No:</h5>
                                            <p id="RequestId"></p>
                                        </div>
                                        <div class="mt-4">
                                            <h5 class="font-size-15 mb-1 text-dark">Request Date:</h5>
                                            <p id="requestDate"></p>
                                        </div>
                                        <div class="mt-4">
                                            <h5 class="font-size-15 mb-1 text-dark">Approve Date:</h5>
                                            <p id="approveDate"></p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="text-muted">
                                    <h5 class="font-size-16 mb-3 text-dark">Supplier :</h5>
                                    <h5 class="font-size-16 mb-3 text-dark">Supplier Name :</h5>
                                    <p class="mb-1" id="offerName"></p>
                                    <h5 class="font-size-16 mb-3 text-dark">Supplier Description :</h5>
                                    <p class="mb-1" id="offerDescription"></p>
									@* <h5 class="font-size-16 mb-3 text-dark">Offerer :</h5>
                                    <p class="mb-1">PrestonMiller@armyspy.com</p>
                                    <p>001-234-5678</p>*@
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-sm-6">
                                <div class="text-muted text-sm-end">
                                    <div>
                                        <h5 class="font-size-15 mb-1 text-dark">Offer No:</h5>
                                        <p id ="offerId"></p>
                                    </div>
                                    <div class="mt-4">
                                        <h5 class="font-size-15 mb-1 text-dark">Offer Date:</h5>
                                        <p id="offerDate"></p>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->

                        <div class="py-2">
                            <h5 class="font-size-15">Order Summary</h5>

                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap table-centered mb-0">
                                    <thead>
                                        <tr>
                                            <th style="width: 70px;">No.</th>
                                            <th>Item</th>
                                            <th>Quantity</th>
                                            <th class="text-end" style="width: 120px;">Total</th>
                                        </tr>
                                    </thead><!-- end thead -->
                                    <tbody>
                                        <tr>
                                            <th scope="row">01</th>
                                            <td>
                                                <div>
                                                    <h5 class="text-truncate font-size-14 mb-1" id="summaryName"></h5>
                                                    <p class="text-muted mb-0" id="summaryDescription"></p>
                                                </div>
                                            </td>
                                            <td id="amount"></td>
                                            <td class="text-end" id="price"></td>
                                        </tr>
                                    </tbody><!-- end tbody -->
                                </table><!-- end table -->
                            </div><!-- end table responsive -->
                            <div class="d-print-none mt-4">
                                <div class="float-end">
                                        <i onclick="modalclose()" class="bi bi-x-circle-fill text-danger fs-1"></i>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->
        </div>
    </div>
    
</div>








<script src="~/js/personel/purchasing.js" asp-append-version="true"></script>