@using Project.Web.Code;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#requestModal">
    Add New Request
</button>
<h2 style="color:black">Current Requests</h2>

<div id="divCurrentRequest">
</div>
<h2 style="color:black">Past Requests</h2>
<div id="divRequest">
</div>

<div class="modal fade" id="requestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Request Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="inputRequestAd" class="form-label">Request Name</label>
                <input type="text" id="inputRequestAd" class="form-control">

            </div>
            <div class="modal-body">
                <label for="inputDescription" class="form-label">Description</label>
                <input type="text" id="inputDescription" class="form-control">

            </div>
            <div class="modal-body">
                <label for="inputAmount" class="form-label">Amount</label>
                <input type="number" id="inputAmount" class="form-control">
            </div>
            
                <input type="hidden" id="inputDate" class="form-control" value="">
            
                <input type="hidden" id="inputUserId" class="form-control" value="@Repo.Session.Id">
            
                <input type="hidden" id="inputSupervisorId" class="form-control">
           
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="SaveRequest()">Save</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/personel/request.js" asp-append-version="true"></script>